<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .active{
            color: orange;
        }
    </style>
 <script src='.//js/vue.js'></script>
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="demo">
        <menu-item :list='list'>
            <template slot-scope="slotProps">
                <strong v-if="slotProps.fruit.id==2" class="active">{{slotProps.fruit.name}}</strong>
                <span v-else>{{slotProps.fruit.name}}</span>
            </template>
            
        </menu-item>
    </div>
    <script>
        Vue.component('menu-item',{
            props:['list'],
            template:`
                <div>
                    <ul>
                        <li :key='item.id' v-for='(item,index) in list'>
                            <slot :fruit='item'>{{item.name}}</slot>
                        </li>
                    </ul>    
                </div>
            `
        })
        var vm=new Vue({
           el:'#demo',
           data:{
               list:[
                   {
                       id:1,
                       name:'apple'
                   },
                   {
                       id:2,
                       name:'orange'
                   },
                   {
                       id:3,
                       name:'lemon'
                   }
               ]
           },
           methods:{}
        });
    </script>
</body>

</html>